@model Young_snakes.ViewModels.LoginVM

<div class="container vh-100 d-flex justify-content-center align-items-center">
    <div class="col-md-5">
        <div class="auth-card">

            <h2 class="text-center auth-title mb-4">Young Snakes Login</h2>

            <form asp-action="Login" method="post">

                <div class="mb-3">
                    <label class="form-label">Username</label>
                    <input asp-for="Username" class="form-control" />
                </div>

                <div class="mb-4">
                    <label class="form-label">Password</label>
                    <input asp-for="Password" type="password" class="form-control" />
                </div>

                <div class="d-grid">
                    <button type="submit" class="btn btn-red btn-lg">
                        Sign In
                    </button>
                </div>

            </form>

            <div class="text-danger mt-3" asp-validation-summary="All"></div>

        </div>
    </div>
</div>