######################################
# Build results
######################################
bin/
obj/
out/
######################################
# User-specific files
######################################
*.user
*.suo
*.userprefs

######################################
# Rider
######################################
.idea/
.env
######################################
# VS Code
######################################
.vscode/

######################################
# OS files
######################################
.DS_Store
Thumbs.db

######################################
# Logs
######################################
*.log

######################################
# ASP.NET Core
######################################
appsettings.Development.json
appsettings.*.json

# Si quieres permitir appsettings.json base,
# elimina la línea anterior y solo ignora Development

######################################
# Entity Framework
######################################
Migrations/

######################################
# Docker
######################################
docker-compose.override.yml
*.pid

######################################
# Publish output
######################################
publish/
wwwroot/uploads/
wwwroot/images/uploads/

######################################
# Secrets
######################################
secrets.json

######################################
# Node (si luego agregas frontend)
######################################
node_modules/
/.vs
.vs