# .NET Core
bin/
obj/
publish/
######################################
# User-specific files
######################################
*.user
*.suo
*.userprefs
#
# Visual Studio
.vs/
*.user
*.userosscache
*.sln.doccache

# VS Code
.vscode/
# (Opcional: puedes dejar launch.json si quieres compartir la config de debug)

# Archivos de usuario de ReSharper o Rider
_ReSharper*/
*.resharper
*.DotSettings.user
######################################
# Rider
######################################
.idea/
.env
######################################
# VS Code
######################################
.vscode/

######################################
# OS files
######################################
.DS_Store
Thumbs.db

######################################
# Logs
######################################
*.log

######################################
# ASP.NET Core
######################################
appsettings.Development.json
appsettings.*.json

# Si quieres permitir appsettings.json base,
# elimina la línea anterior y solo ignora Development

######################################
# Entity Framework
######################################
Migrations/

######################################
# Docker
######################################
docker-compose.override.yml
*.pid

######################################
# Publish output
######################################
publish/
wwwroot/uploads/
wwwroot/images/uploads/

######################################
# Secrets
######################################
secrets.json

######################################
# Node (si luego agregas frontend)
######################################
node_modules/
/.vs
.vs
obj/Debug/net10.0/
obj/Debug/net10.0/rjsmcshtml.dswa.cache.json
