@model Young_snakes.Models.DietaryTag

@{
    ViewData["Title"] = "Delete";
}

<h1>Cancella</h1>

<h3>Sei sicuro di cancellare questo?</h3>
<div>
    <h4>DietaryTag</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            DIETA
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TagName)
        </dd>
        <dt class = "col-sm-2">
            TIPO
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TagType)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdTag" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Torna a la lista</a>
    </form>
</div>
