@model IEnumerable<Young_snakes.Models.Tournament>

@{
    ViewData["Title"] = "Gestione Tornei - Report Pasti";
}

<h1>Gestione Report Pasti Tornei</h1>

<p>
    Selezionare un torneo per generare il report riepilogativo dei pasti e delle esigenze alimentari.
</p>

<table class="table">
    <thead>
        <tr>
            <th>Nome Torneo</th>
            <th>Categoria</th>
            <th>Data Inizio</th>
            <th>Azioni</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
{
        <tr>
            <td>@item.TournamentName</td>
            <td>@item.CategoryName</td>
            <td>@item.TournamentYear</td>
            <td>
                <a asp-controller="AdminReports" 
                   asp-action="TournamentMealsReportPdf" 
                   asp-route-id="@item.IdTournament"
                   class="btn btn-primary">
                    Genera Report Pasti
                </a>
            </td>
        </tr>
}
    </tbody>
</table>